/* Write your CSS here */
.mainDivContainer {
  background-color: red;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MatchCardDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.divCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
